.comment {
  display: flex;
  border: 1px solid black;

  margin-bottom: 5px;
}

.comment-children {
  width: 95%;
  margin-left: auto;
}

.comment-image {
  width: 15%;
  padding: 10px;
}

img {
  width: 100%;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.comment-content {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
}

.comment-time {
  font-size: x-small;
  margin-bottom: 10px;
}

button {
  width: 50px;
  padding: 5px;
  margin-top: 10px;
  font-size: x-small;
}
